<div class="px-40 mt-10 flex justify-center">
    <form class="w-96 shadow p-4 border border-gray-300 rounded-lg">
      @if(id){
        <h4 class="text-xs">UPDATE BRAND:</h4>
      }@else{
        <h4 class="text-xs">ADD NEW BRAND:</h4>
      }
      <div class="flex flex-wrap">
        <mat-form-field class="w-full">
          <mat-label> Name </mat-label>
          <input matInput type="text" placeholder="enter brand name" name="name"
          [(ngModel)]="name"
          >
        </mat-form-field>
      </div>
      <div class="flex justify-center">
        @if (id){
          <button
          mat-raised-button color="primary"
          (click)="update()"
          [disabled]="!name"
        >
          Update
        </button>
        }@else{
          <button
           mat-raised-button
            color="primary"
             (click)="add()"
              [disabled]="!name"
            >
              Add
            </button>
        }
      </div>
    </form>
</div>
